mailsmtphost=smtp.xxx.com
mailsmtpauth=true
mailsmtpstarttlsenable=true
mailsmtpport=123
mailsmtpdebug=true

receiptmailaddress=xxxxx@somehost.com,xxxxx2@somehost.com
receiptmailaddress=xxxxx@somehost.com
sendmailaddress=xxxxx@somehost.com
sendmailusername=user_name
title=Report Files with SP-API sample title.
message=report files from sp-api. version X.