mailsmtphost=smtp.xxx.com
mailsmtpauth=true
mailsmtpstarttlsenable=true
mailsmtpport=123
mailsmtpdebug=true

receiptmailaddress=xxxxx@somehost.com,xxxxx2@somehost.com
receiptmailaddress=xxxxx@somehost.com
sendmailaddress=xxxxx@somehost.com
sendmailusername=user_name
title=File to Check Offers Increment with SP-API sample title.
message=File to Check Offers Increment from sp-api. version X.

