marketID=XXXXXXXXXX
clientId=amznX.XXXXXXXXXXXXXXXX
clientSecret=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
refreshToken=Atzr|XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
accessKeyId=AKXXXXXXXXXXXXXXXXXXXXXXXX
secretKey=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
roleArn=arn:aws:iam::XXXXXXXXXXXXXXXXXXXXXXXXXXXX
roleSessionName=XXXXXXXXXXXXXXXXXXX
region=XXXXXXXXXXXXXXXXXXXX