spApiEndPoint=https://sellingXXXXX.com

marketID=XXXXXXXXXX

clientId=amznX.XXXXXXXXXXXXXXXX
clientSecret=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
refreshToken=Atzr|XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

accessKeyId=AKXXXXXXXXXXXXXXXXXXXXXXXX
secretKey=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
roleArn=arn:aws:iam::XXXXXXXXXXXXXXXXXXXXXXXXXXXX
roleSessionName=XXXXXXXXXXXXXXXXXXX
region=XXXXXXXXXXXXXXXXXXXX

timeZone=someWhere
confIdentifier=XXX
downloadDir=/xxx/

downloadReportTypes=ReportTypeA,\
ReportTypeB,\
ReportTypeC

asinListFilePathForCheckSellerCountIncr=src/main/resources/conf/xxx.properties
itemConditionForCheckSellerCountIncr=SomeStatus
itemOfferReulstFilePathForCheckSellerCountIncr=output/some/xxx
compareReulstFilePathForCheckSellerCountIncr=output/some/xxx

